@tailwind base;
@tailwind components;
@tailwind utilities;




.gradient-border {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    padding: 3px;
    border-radius: 70%;
    animation: gradientRotate 8s linear infinite;
}

.viewed-border {
    background: #8e8e8e;
    padding: 2px;
    border-radius: 50%;
}

/* Optional: Add animation for the gradient border */
@keyframes gradientRotate {
    0% {
        background: linear-gradient(72deg, #72caf9, #89b0c4, #0a4361, #0a4361, #c8afec);
    }
    12.5% {
        background: linear-gradient(108deg, #80c8f5, #90a7c0, #0b3a54, #0b3a54, #d5b2f1);
    }
    25% {
        background: linear-gradient(144deg, #89b0c4, #0a4361, #0a4361, #c8afec, #72caf9);
    }
    37.5% {
        background: linear-gradient(180deg, #7fa8c3, #1a3d5d, #1a3d5d, #cfb0f0, #72baf7);
    }
    50% {
        background: linear-gradient(216deg, #0a4361, #0a4361, #c8afec, #72caf9, #89b0c4);
    }
    62.5% {
        background: linear-gradient(252deg, #0b3a54, #0b3a54, #d5b2f1, #80c8f5, #90a7c0);
    }
    75% {
        background: linear-gradient(288deg, #0a4361, #c8afec, #72caf9, #89b0c4, #0a4361);
    }
    87.5% {
        background: linear-gradient(324deg, #1a3d5d, #cfb0f0, #72baf7, #7fa8c3, #1a3d5d);
    }
    100% {
        background: linear-gradient(360deg, #72caf9, #89b0c4, #0a4361, #0a4361, #c8afec);
    }
}
